{% extends 'base.html' %}

{% block content %}



<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django app</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod voluptas, odio quaerat maiores non, illum est sapiente id ex in animi magni assumenda eligendi delectus debitis distinctio a error recusandae dolores. Deserunt ut quidem iusto tenetur? A quisquam voluptate quis ad totam nostrum officia, obcaecati, tenetur aperiam ipsum ratione, accusamus mollitia. Vero, exercitationem fugit unde beatae laudantium cupiditate officiis quam? Corrupti, quo? Hic nihil autem earum expedita aut eaque, veritatis pariatur molestias cupiditate dolorem saepe praesentium, adipisci inventore officiis cumque minus et molestiae? Laboriosam perspiciatis et culpa doloribus, sed excepturi aspernatur ea alias eaque quod? Alias ipsa quia sequi velit.</p>
        <div class="text-center">
            <a href="/signin" class="btn btn-secondary">
                Signin
            </a>
            <a href="/singup" class="btn btn-dark">
                signup
            </a>
        </div>
        
    </section>
</main>


{% endblock %}